@model IEnumerable<UC_13_Kauan_LibraryOfOz_00001.Models.Aluguel>

@{
    ViewData["Title"] = "Index";
}


<body>
    <section class="container-tabela">

        <h1 id="title-tabela">Aluguel de Livros</h1>

<table class="table">
    <a class="btn-adicionaritem" asp-action="Create">Adicionar Aluguel</a>
    <thead>
        <tr>
            <th>
                <p class="item-title">@Html.DisplayNameFor(model => model.NomeLivro)</p>
            </th>
            <th>
                <p class="item-title">@Html.DisplayNameFor(model => model.NomeCliente)</p>
            </th>
            <th>
                <p class="item-title">@Html.DisplayNameFor(model => model.DataDevolucao)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p class="item-title">@Html.DisplayFor(modelItem => item.NomeLivro.NomeLivro)</p>
            </td>
            <td>
                <p class="item-title">@Html.DisplayFor(modelItem => item.NomeCliente.NomeCliente)</p>
            </td>
            <td>
                <p class="item-title">@Html.DisplayFor(modelItem => item.DataDevolucao)</p>
            </td>
            <td>
                <a class="btn-controllers" asp-action="Edit" asp-route-id="@item.AluguelId">Editar</a>
                <a class="btn-controllers" asp-action="Details" asp-route-id="@item.AluguelId">Detalhes</a>
                <a class="btn-controllers" asp-action="Delete" asp-route-id="@item.AluguelId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </section>
</body>
