@model IEnumerable<UC_13_Kauan_LibraryOfOz_00001.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}


<body>

<section class="container-tabela">
        <h1 id="title-tabela">Clientes</h1>

<table class="table">
    <a class="btn-adicionaritem" asp-action="Create">Adicionar Cliente</a>
    <thead>
        <tr>
            <th>
                <p class="item-title"> @Html.DisplayNameFor(model => model.NomeCliente)</p>
            </th>
            <th>
                <p class="item-title">@Html.DisplayNameFor(model => model.DataNascimento)</p>
            </th>
            <th>
                <p class="item-title">@Html.DisplayNameFor(model => model.Telefone) <p/>
            </th>
            <th>
                        <p class="item-title">@Html.DisplayNameFor(model => model.Email)</p>
            </th>
            <th>
                        <p class="item-title">@Html.DisplayNameFor(model => model.Senha)</p>
            </th>
            <th>
                        <p class="item-title">@Html.DisplayNameFor(model => model.Rg)</p>
            </th>
            <th>
                        <p class="item-title">@Html.DisplayNameFor(model => model.Endereco)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.NomeCliente)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.DataNascimento)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.Telefone)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.Email)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.Senha)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.Rg)</p>
            </td>
            <td>
                            <p class="item-title">@Html.DisplayFor(modelItem => item.Endereco)</p>
            </td>
            <td>
                <a class="btn-controllers" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a class="btn-controllers" asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                <a class="btn-controllers" asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </section>

</body>
